.stickyHeader {
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .stickyHeader.visible {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #f3f7ff;
  }
  
  .text-primary {
    color: #2072c0;
  }
  
  .text-heading {
    color: #333;
  }